<header class="header">
  <nav class="header__navbar">
    <div class="header__wrapper wrapper">
      <div class="col-left">
        <a routerLink="/" class="header__logo">
          <img [src]="logo"
            class="icon" 
            alt="Leaf Logo"
            draggable="false">
        </a>
      </div>
  
      <div class="col-right">
        <ul class="header__link-list" 
          role="navigation">
          <li *ngFor="let link of navLinks" 
            class="header__list-item">
            <a [routerLink]="[link.url]" class="header__link">
              {{ link.text }}
            </a>
          </li>
        </ul>
    
        <button type="button" 
          aria-label="Search Button"
          class="header__search-btn circle-button">
          <img src="assets/images/search.svg" 
            class="icon"
            alt="Search Icon"
            draggable="false">
        </button>

        <button type="button" 
          class="header__profile-btn circle-button circle-button-filled"
          aria-label="Login Button">
          <img src="assets/images/user.svg" 
            class="icon"
            alt="User Icon"
            draggable="false">
        </button>
      </div>

      <button (click)="onMenuBtnClick($event)" 
        type="button"
        aria-label="Menu Button"
        class="header__menu-btn">
      </button>
    </div>
  </nav>
</header>