@import '/src/sass/abstract/variables';

:host {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.leaf-decor {
  position: absolute;
  filter: blur(3px) 
          brightness(80%)
          drop-shadow($dropshadow rgba($darkGreen, .5));
  z-index: 1;

  &:first-child {
    right: -8.6rem;
    width: 12rem;
    height: 12rem;
    transform: rotate(240deg) 
               translateY(-4rem);
    background: url('../../../assets/images/small-leaf-2.png') no-repeat;
    background-size: contain;
  }

  &:nth-child(2) {
    right: 5rem;
    bottom: 0;
    width: 14rem;
    height: 14rem;
    transform: rotate(30deg) 
               scaleX(-1) 
               translateY(5rem);
    background: url('../../../assets/images/small-leaf.png') no-repeat;
    background-size: contain;
  }
}

.circles-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-content: space-between;
    align-items: center;
    justify-items: center;
    height: inherit;
  }

  .circle {
    opacity: .5;
    flex-shrink: 0;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(25px);
    
    &:nth-child(odd) {
      background-color: $green;
    }
    
    &:nth-child(even) {
      background-color: $yellow;
    }

    &:first-child {
      width: 12rem;
      height: 12rem;
      filter: blur(120px);
    }

    &:nth-child(2) {
      grid-column: 2/3;
      grid-row: 2/3;
      filter: blur(80px);
    }

    &:nth-child(3) {
      grid-column: 3/4;
      grid-row: 3/4;
      filter: blur(100px);
    }
    
    &:nth-child(4) {
      grid-column: 4/-1;
      grid-row: 3/4;
      transform: translateX(4rem);
      filter: blur(100px);
    }

    &:last-child {
      grid-column: 4/-1;
      grid-row: 4/-1;
      filter: blur(80px);
    }
  }
}

.content {
  position: relative;
  z-index: 2;
}