@import '/src/sass/abstract/variables';
@import '/src/sass/abstract/animations';

:host {
  display: block;
  background-color: $white;
}

.col {
  
  &-left {
    position: relative;
    width: 100%;
    box-shadow: 0 0 3rem rgba($darkGreen, .4);
    transition: transform .4s $easeOutExpo;
    overflow: hidden;
    z-index: 1;

    &[mobile-menu-active] {
      height: 100vh;
      transform: scale(.95) translateX(-16rem);
      backface-visibility: hidden;
      border-radius: 1.2rem;

      & + .col-right {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  }

  &-right {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    transform: translateY(10%) scale(.95);
    transition: transform .4s $easeOutExpo,
                opacity .4s $easeOutExpo;
  }
}