<section class="cover">
  <div class="cover__background">
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="circles-wrapper wrapper">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </div>

  <div class="wrapper">
    <div class="col-left">
      <h1 class="cover__title">
        {{ landingTitle }}
      </h1>
      <p class="cover__sub-title">
        {{ landingSubTitle }}
      </p>

      <div class="cover__cta">
        <a href="#" class="cover__link button button-filled">
          Book now
        </a>
        <a href="#" class="cover__link button">
          Know more
        </a>
      </div>

      <p class="cover__disclaimer">{{ disclaimer }}</p>
    </div>

    <div class="col-right">
      <figure class="cover__hero">
        <img [srcset]="heroImageSrcset"
          sizes="(max-width: 570px) 300px,
                 (max-width: 670px) 400px,
                 (max-width: 770px) 500px,
                 (max-width: 900px) 600px,
                 720"  
          [src]="heroImage[720]" 
          alt="Hero Image" 
          draggable="false"
          class="cover__hero-image">

        <div *ngFor="let part of leafParts" 
          [attr.data-leaf-part-id]="part.id"
          class="leaf-part-indicator">
          <span class="label">{{ part.label }}</span>
          <button type="button" 
            aria-label="View Leaf Part"
            class="dot"></button>
        </div>
      </figure>
    </div>

    <footer class="cover__footer">
      <ul class="cover__sn-link-list">
        <li *ngFor="let link of footerLinks" 
          class="cover__sn-list-item">
          <a [href]="link.url" 
            [attr.aria-label]="link.label"
            rel="noopener"
            class="cover__sn-link circle-button">
            <img [src]="link.icon" 
              alt="Icon" 
              draggable="false"
              class="icon">
          </a>
        </li>
      </ul>
  
      <!-- <div class="cover__logo">
        <div class="letter-wrapper">
          <span *ngFor="let letter of logoLetters; let i=index;" 
            [style]="topStyle(i, 255, 17.1)"
            class="letter">
            {{ letter }}
          </span>
        </div>
      </div> -->
    </footer>
  </div>
</section>