<section class="page-cover">
  <div class="wrapper">
    <div class="col-left">
      <h1 class="page-cover__title">
        {{ landingTitle }}
      </h1>
      <p class="page-cover__sub-title">
        {{ landingSubTitle }}
      </p>

      <div class="page-cover__cta">
        <a href="#" class="page-cover__link button button-filled">
          Book now
        </a>
        <a href="#" class="page-cover__link button">
          Know more
        </a>
      </div>

      <p class="page-cover__disclaimer">{{ disclaimer }}</p>
    </div>

    <div class="col-right">
      <figure class="page-cover__hero">
        <img [src]="heroImage" 
          alt="Hero Image" 
          draggable="false"
          class="page-cover__hero-image">

        <div *ngFor="let part of leafParts" 
          [attr.data-leaf-part-id]="part.id"
          class="leaf-part-indicator">
          <span class="label">{{ part.label }}</span>
          <button type="button" 
            role="Leaf Part Viewer"
            aria-label="View Leaf Part"
            class="dot"></button>
        </div>
      </figure>
    </div>

    <footer class="page-cover__footer">
      <ul class="page-cover__sn-link-list">
        <li *ngFor="let link of footerLinks" 
          class="page-cover__sn-list-item">
          <a [href]="link.url" 
            [attr.aria-label]="link.label"
            rel="noopener"
            class="page-cover__sn-link circle-button">
            <img [src]="link.icon" 
              alt="Icon" 
              draggable="false"
              class="icon">
          </a>
        </li>
      </ul>
  
      <div class="page-cover__logo">
        <div class="letter-wrapper">
          <span *ngFor="let letter of logoLetters; let i=index;" 
            [style]="topStyle(i, 255, 17.1)"
            class="letter">
            {{ letter }}
          </span>
        </div>
      </div>
    </footer>
  </div>
</section>