html,
body {
  min-height: 100vh;
}

body {
  color: $darkGreen;
  font-family: $fontFamily;
  font-size: $fontSizeMedium;
  background-color: $lightYellow;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection {
    color: #fff;
    background-color: rgba($green, .5);
  }
}

* {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: inherit;
  backface-visibility: hidden;

  // -o-transition-property: none !important;
  // -moz-transition-property: none !important;
  // -ms-transition-property: none !important;
  // -webkit-transition-property: none !important;
  // transition-property: none !important;
}